mlmodels {
  fs = "file:/"
  path = "///mnt/glfs/mlmodels/"
}
loglevel = "/opt/otp/Dispatcher/plugins/smallPlugin/loglevel.properties"

configBasePath = "/mnt/glfs/mlmodels/conf"

fit {

}

score {

}

apply {
    predict = "ot.dispatcher.plugins.small.algos.apply.Predict"
    anomaly = "ot.dispatcher.plugins.small.algos.apply.Anomaly"

}
